@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
.container {
  width: 100%;
  margin: auto;
  font-family: "Kanit", sans-serif;
  color: #fff;
  display: flex;
  min-height: 100vh;
  gap: 30px;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("./components/img/background.jpg");
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
}
#root {
  min-height: 100vh;
}
#enlace {
  z-index: 5;
  position: fixed;
  bottom: 10%;
  right: 3%;
  background-color: #000000e3;
  color: #fff;
  font-family: "Kanit", sans-serif;
  font-size: 2.5vh;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
}
#enlace:hover {
  transition: 0.4s;
  background-color: rgba(128, 128, 128, 0.733);
}
